*/.ipynb_checkpoints/*
Semana_1/docker_shared_folder/working_dir/.ipynb_checkpoints/ejercicios_python-checkpoint.ipynb
Semana_1/docker_shared_folder/working_dir/.ipynb_checkpoints/ejercicios_sql-checkpoint.ipynb


Semana_2
Semana_2/*
Semana_3
Semana_3/*
Semana_4
Semana_4/*
Semana_5
Semana_5/*
Semana_6
Semana_6/*
Semana_7
Semana_7/*
Semana_8
Semana_8/*
Semana_9
Semana_9/*
Semana_10
Semana_10/*
Semana_11
Semana_11/*
Proyecto_Final
Proyecto_Final/*
