*.pyc

Semana_1/docker_shared_folder/postgres_data
Semana_1/docker_shared_folder/working_dir/.ipynb_checkpoints
Semana_1/docker_shared_folder/working_dir/data/.ipynb_checkpoints

# Semana_2/*

# Semana_3/*
Semana_3/docker_shared_folder/mongo_data/*
Semana_3/docker_shared_folder/postgres_data/*

# Semana_4/*
Semana_4/docker_shared_folder/working_dir/.ipynb_checkpoints/*

# Semana_5/*
Semana_5/databases/AdventureWorks2022.bak
Semana_5/databases/AdventureWorksDW2022.bak

# Semana_6/*
Semana_6/docker_shared_folder/working_dir/.ipynb_checkpoints/*
Semana_6/docker_shared_folder/working_dir/parte1/.ipynb_checkpoints/*
Semana_6/docker_shared_folder/working_dir/parte2/.ipynb_checkpoints/*
Semana_6/docker_shared_folder/working_dir/parte3/.ipynb_checkpoints/*
Semana_6/docker_shared_folder/working_dir/.env
Semana_6/old/*

# Semana_7/*
Semana_7/docker_shared_folder/.env
Semana_7/docker_shared_folder/working_dir/.ipynb_checkpoints/*
Semana_7/docker_shared_folder/working_dir/spark_drivers/spark-redshift_2.10-2.0.0.jar
Semana_7/docker_shared_folder/working_dir/spark_drivers/spark-avro_2.11-3.0.0.jar
Semana_7/docker_shared_folder/working_dir/spark_drivers/RedshiftJDBC42-no-awssdk-1.2.36.1060.jar
Semana_7/docker_shared_folder/working_dir/spark_drivers/RedshiftJDBC41-1.2.12.1017.jar
Semana_7/docker_shared_folder/working_dir/spark_drivers/minimal-json-0.9.4.jar
Semana_7/docker_shared_folder/working_dir/spark_drivers/postgresql-42.2.27.jre7.jar

Semana_7/docker_shared_folder/working_dir/microdesafio/.ipynb_checkpoints/*
Semana_7/docker_shared_folder/working_dir/sqlalchemy/.ipynb_checkpoints/*
Semana_7/docker_shared_folder/working_dir/psycopg2/.ipynb_checkpoints/*
Semana_7/docker_shared_folder/working_dir/semana_8/.ipynb_checkpoints/*
Semana_7/docker_shared_folder/working_dir/data/.ipynb_checkpoints/*
Semana_7/docker_shared_folder/working_dir/texto.log

# Semana_8/*
Semana_8/airbnb_nyc

# Semana_9/*
Semana_9/EJEMPLO1_DOCKER/*
Semana_9/EJEMPLO2_DOCKER/*
Semana_9/web-page/*

# Semana_10/*
Semana_10/Video_2_LanzandoAirflowConDocker/logs/*
Semana_10/logs/*

Semana_11/*

Proyecto_Final/*

otros/docker_bigdata/*
big_data_examples/data/datos_iot.csv
