Semana_1/docker_shared_folder/postgres_data
Semana_1/docker_shared_folder/working_dir/.ipynb_checkpoints
Semana_1/docker_shared_folder/working_dir/data/.ipynb_checkpoints

# Semana_2/*

# Semana_3/*
Semana_3/docker_shared_folder/mongo_data/*
Semana_3/docker_shared_folder/postgres_data/*
Semana_3/docker-compose-lakehouse.yml

Semana_4/*
Semana_5/*
Semana_6/*
Semana_7/*
Semana_8/*
Semana_9/*
Semana_10/*
Semana_11/*
Proyecto_Final/*